@model IEnumerable<Common.Auction>

<table id="auctions" class="table table-hover table-condensed">
    <thead>
        <tr>
            <th colspan="2"><h3>@ViewBag.CategoryName</h3></th>
            <th class="span2">Current Price</th>
            <th class="span3">Ends In</th>
        </tr>
    </thead>

    @foreach (var auction in Model)
    {
        var timeRemaining = auction.EndTime - DateTime.Now;
        var endsToday = timeRemaining < TimeSpan.FromDays(1);
        var endTimeDisplay = string.Format("{0} days, {1} hours, {2} mins",
                                           timeRemaining.Days, timeRemaining.Hours, timeRemaining.Minutes);
        var currentPriceDisplay = (auction.CurrentPrice ?? auction.StartingPrice).ToString("c");

        <tr class="auction" data-id="@auction.Id">
            <td class="span2">
                <img class="img-polaroid" src="@auction.ThumbnailUrl" />
            </td>
            <td>
                <p class="title">
                    @Html.ActionLink(auction.Title, "Details", "Auctions", new { id = auction.Id }, null)
                </p>
                <span class="muted">Condition: @auction.Condition</span>
            </td>
            <td>
                <span class="price">@currentPriceDisplay</span>
            </td>
            <td>
                <span class="ends-in @(endsToday ? "text-warning" : "")" title="@auction.EndTime">
                    @endTimeDisplay
                </span>
            </td>
        </tr>
    }
</table>
