@model Website.Models.Auctions.AuctionsViewModel

<table id="auctions" class="table table-hover table-condensed">
    <thead>
        <tr>
            <th colspan="2"><h3>@Model.CategoryName</h3></th>
            <th class="span2">Current Price</th>
            <th class="span3">Ends In</th>
        </tr>
    </thead>

    @foreach (var auction in Model.Auctions)
    {
        <tr class="auction" data-id="@auction.Id">
            <td class="span2">
                <img class="img-polaroid" src="@auction.ThumbnailUrl" />
            </td>
            <td>
                <p class="title">
                    @Html.AuctionLink(auction)
                </p>
                <span class="muted">Condition: @auction.Condition</span>
            </td>
            <td>
                <span class="price">@auction.CurrentPriceDisplay</span>
            </td>
            <td>
                <span class="ends-in @(auction.EndsToday ? "text-warning" : "")" title="@auction.EndTime">
                    @auction.EndsIn
                </span>
            </td>
        </tr>
    }
</table>
