@model Website.Models.Auctions.AuctionViewModel
@{
    ViewBag.Title = Model.Title;
}


@section Title {
    <a href="javascript: history.back()">
        <i class="icon-arrow-left">&nbsp;</i>
        Back to search results
    </a>
}


<div id="auction-info" class="row-fluid">
    
    <div id="images" class="span4">
        <img class="img-polaroid" src="@Model.ImageUrl" />
    </div>
    
    <div class="span8">
        
        <h3 id="auction-title">@Model.Title</h3>
        
        <div id="auction-details" class="row-fluid">
            
            <div class="span8">
                <p class="clearfix">
                    <label class="span3 muted">Condition:</label>
                    <span class="condition">@Model.Condition</span>
                </p>

                <p class="clearfix">
                    <label class="span3 muted">Time left:</label>
                    <span class="ends-in">@Model.EndsIn</span>
                    <small class="muted">(@Model.EndTime)</small>
                </p>
            
                <p class="clearfix">
                    <label class="span3 muted">Seller:</label>
                    <span>@Html.ActionLink(Model.SellerUsername ?? " ", "Seller", "Auctions", new { id = Model.Id }, null)</span>
                    <small class="seller-feedback muted">(@Model.SellerFeebackPercentageDisplay positive feedback)</small>
                </p>

                <div id="bid" class="well well-small">
                    <p class="clearfix">
                        <label class="span3 muted">
                            @(Model.HasBids ? "Current" : "Starting") Bid:
                        </label>
                        <span class="current-price">@Model.CurrentPriceDisplay</span>
                        <span class="pull-right">[@Html.ActionLink("Bid History", "History", "Auctions", new { id = Model.Id }, null)]</span>
                    </p>
                    

                    @using (Html.BeginForm("Bid", "Auctions", new { id = Model.Id }, FormMethod.Post))
                    {
                    <p class="clearfix">
                        <label class="span2 muted">&nbsp;</label>
                        <span class="input-prepend span4">
                            <span class="add-on">$</span>
                            <input name="amount" type="text" required="true" class="input-mini" value="@Model.MinimumBidDisplay">
                        </span>
                        <input type="submit" value="Place Bid" class="btn btn-primary"/>
                    </p>
                }
                </div>
            </div>

            <div class="well well-small span4">
                <ul class="actions">
                    <li class="action"><a href="#"><i class="icon-plus-sign"></i> Add to Watch List</a></li>
                    <li class="action"><a href="#"><i class="icon-user"></i> Save seller</a></li>
                    <li class="action"><a href="#"><i class="icon-exclamation-sign"></i> Report item</a></li>
                </ul>
            </div>

        </div>

    </div>

</div>

<div class="row-fluid">
    <ul class="nav nav-tabs">
    <li class="active">
        <a href="#"><strong>Description</strong></a>
    </li>
    </ul>
    <section id="description">
        @Model.Description
    </section>
</div>